*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background: radial-gradient(
    circle at center,
    #ffffff 0%,  
    #fbfbfb 25%,   
    #f5f5f5 60%,   
    #eaeaea 100%   
  );
  background-attachment: fixed;
    min-height: 100vh;
    }

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

